{% extends 'rent.html' %}
{% block content %}
<div class="container">

  <div class="row my-5">
      <div class="col-4 offset-4 ">
          <form method="POST">
            {% csrf_token %}
            username {{form.username}}
            <br>
              email {{form.email}}
              <br>
              password1 {{form.password1}}
              <br>
              password2{{form.password2}}
              <br>
              {{form.errors}}
      <button class="btn btn-primary " type="submit"> Signup </button>
          </form>
      </div>
  </div>
</div>
{% endblock %}