
<!DOCTYPE html>
<html lang="en">


<head>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand navbar-dark" href="#" >TINY VIDEO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
      </ul>
    </div>
  </nav>


  
  
    
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="Company">
  <br> 
  <h1><center> TINY VIDEO RENTAL </center> </h1>

</div>




<body>
  {% block content %}
  {% endblock %}



  {% for Movie in Movies %}
    <a href="{% url 'addrent' Movie.pk %}"> rent </a>
    <li>{{ Movie.MOVIE_TITLE }}</li>
     {{ Movie.MOVIE_YEAR }}
     {{ Movie.MOVIE_GENRE }}
{% endfor %}


